@import "../global.css";

/* MAIN */
main {
    /* position: relative;
    display: flex; */
    width: 1024px;
    height: 576px;
    /* margin: auto; */
}

/* LOGIN */
#login {
    /* width: 100%; */
    max-width: 360px;
    padding: 40px;
    /* background-color: #fff; */
}

.login-logo {
    display: block;
    width: 90px;
    height: auto;
    margin: 0 auto 50px;
}

.form-input {
    box-sizing: border-box;
    width: 100%;
    padding: 18px 8px 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 4px;
    background-color: #ededed;
    font-weight: 600;
}

.form-input_box .form-label {
    left: 12px;
    top: 15px;
    font-size: 10px;
    color: #919191;
    transition: 0.2s;
    cursor: auto;
}

.form-input:focus ~ .form-label,
.form-input:valid ~ .form-label {
    transform: translateY(-14px) translateX(-4px);
}

.login-btnRedes button {
    width: 100%;
    border: none;
    border-radius: 3px;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.35rem;
}

.login-buttons_facebook {
    background-color: #1877f2;
}

.form-checkbox_manterLogin {
    appearance: none;
    width: 16px;
    height: 16px;
    margin-right: 6px;
    border-radius: 3px;
    background-color: #ededed;
}

.form-checkbox_manterLogin:checked {
    background-color: #c73033;
}

.form-checkbox_manterLogin:checked::after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: 3px solid #fff;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    margin: 2px 6px;
}

.btnLogin {
    display: block;
    padding: 14px;
    margin: 0 auto;
    border-radius: 30%;
    border: 2px solid #ededed;
    background-color: #fff;
}

.ativo {
    background-color: #c73033;
}

#wallpaper {
    flex: 1;
    width: 100%;
    height: 100%;
    background: url("https://live.staticflickr.com/65535/52277003139_a23861ad0a_k.jpg")
        no-repeat;
    background-size: cover;
    background-position: 40%;
}

/* Tooltip de avisos */
.tooltip_avisos {
    display: inline-block;
    margin: 1rem;
    border: none;
    background-color: transparent;
}

.tooltip-avisos_wrapper {
    top: 10px;
    left: 4rem;
    width: 330px;
    padding: 2rem;
    border-radius: 4px;
    background-color: #fff;
    font-weight: 600;
    /* visibility: hidden; */
}

.tooltip-avisos_wrapper span {
    color: #9e9e9e;
}

.tooltip-avisos_wrapper a,
.login-links {
    font-weight: 600;
    font-size: 10px;
    color: #a5a5a5;
}

.tooltip-avisos_wrapper a:hover,
.login-links:hover {
    color: #838383;
}

/* seta tooltip */
.tooltip-avisos_wrapper::after {
    content: "";
    position: absolute;
    top: 22px;
    left: -5px;
    transform: rotate(90deg);
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
    z-index: 5;
}

.tooltip_avisos:focus ~ .tooltip-avisos_wrapper,
.tooltip_avisos:hover ~ .tooltip-avisos_wrapper {
    visibility: visible;
    opacity: 1;
}

.menuSuspenso {
    top: 1rem;
    right: 1rem;
}

.menuSuspenso button {
    width: 42px;
    height: 42px;
    border: none;
    border-radius: 40%;
    background-color: #1a1a1aa4;
}

.dropdown-menu {
    width: 220px;
    padding: 1.5rem 1.5rem;
    background: #141414;
    border-radius: 3px;
    color: #a1a1a1;
    font-size: 12px;
    font-weight: 700;
}

.dropdown-menu li {
    padding: 4px 8px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.dropdown-menu li:nth-child(3) {
    margin-bottom: 0;
}

.dropdown-menu a:hover:first-child,
.dropdown-menu li:hover:first-child,
.dropdown-menu a:hover:last-child,
.dropdown-menu li:hover:last-child {
    color: #bebebe;
    background-color: #252525;
}

.dropdown-menu li:nth-child(2) {
    color: #636363;
}

.dropdown-menu li:nth-child(2):hover,
.dropdown-menu .sessao:hover {
    color: #636363 !important;
    background-color: transparent !important;
}

.input_MensagemErro {
    position: absolute;
    top: 85px;
    left: 40px;
    width: 280px;
    padding: 1rem;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    color: #e806cf;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 3px 4.5px 19px 3px #ddd;
    z-index: 1;
    /* visibility: hidden; */
}

.input_MensagemErro::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 8px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
}

.spin {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 360px;
    height: 576px;
    background-color: #fff;
    z-index: 4;
}

.spinner-border {
    height: 3rem;
    width: 3rem;
    border-right-color: #d13639;
}

.links-desabilitados {
    cursor: not-allowed !important;
}
